/* ************************************************************************************************/
/* seccion MENU ***********************************************************************************/
/* ************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    background-color: black;
    box-shadow: 1px 1px 5px 0px orange;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo {
    display: inline-block;
    color:rgb(231, 235, 26);
    font-size: 60px;
    margin-left: 10px;
}

.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: orange;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a {
    display: block;
    padding: 30px;
    color: white;
}

.menu a:hover {
    background-color: red;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: palevioletred
    }

    .hamb {
        display: none;
    }
}
 /**/
/* *******************************************************************************************************/
/* seccion INICIO ****************************************************************************************/
/* *******************************************************************************************************/
.presentacion {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("Imagenes/Img3.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align: center;
    color: white;
    padding-top: 200px;
    font-size: 25px;
}

.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align:left;
}
.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: left;
    padding: 20px 0;

}
.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span {
    color: #1CB698;
    font-weight: bold;
}
.sobremi .fila {
    display: block;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul {
    list-style: none;
}
.sobremi .fila .col ul li {
    margin: 12px 0;
}
.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col ul li span {
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay {
    width: 100%;
}
 
/* ****************************************************************************************************************/
/* seccion CONTACTO ***********************************************************************************************/
/* ****************************************************************************************************************/
.contacto {
    background-image: url(Imagenes/Img6.jpg);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}
.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ff0000;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay {
    width: 100%;
}
.contacto .col img {
    width: 100%;
}
.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul {
    list-style: none;
}
.contacto .col .info ul li {
    margin-bottom: 20px;
}
.contacto .col .info ul li i {
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

/* *******************************************************************************************************************/
/* seccion F O O T E R ***********************************************************************************************/
/* *******************************************************************************************************************/
        
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
        
footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}